.text-div {
    position: absolute;
    left: 15%;
    transform: translateY(-10%);
    max-width: 35%;
    vertical-align: middle;
    display: table;
    max-height: 90%;
    top: 20%;

    h1 {
        font-size: 53px;
        color: rgb(209, 76, 76);
        font-family: 'Coolvetica';
        letter-spacing: 4px;
        font-weight: 400;
        position: relative;
        margin-top: 0;
        margin-bottom: -40px;
    }

    .text-animate-hover {
        &:hover{
            color: #fff;
        }
    }
    &::before{
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        opacity: 0.6;
        font-size: 18px;
        color: rgb(209, 76, 76);
        position: absolute;
        bottom: 40px;
        left: -20px;
        animation: glow 6s ease-in-out infinite;
    }
    &::after{
        content: '</h1>';
        font-family: 'La Belle Aurore', cursive;
        opacity: 0.6;
        font-size: 18px;
        line-height: 18px;
        color: rgb(209, 76, 76);
        position: absolute;
        top: 80px;
        left: -20px;
        animation: glow 6s ease-in-out infinite;
    }
}

.card-container{
    width: 80%;
    height: fit-content;
    position: absolute;
    right: 5%;
    bottom: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &::before{
        content: '<div>';
        font-family: 'La Belle Aurore', cursive;
        opacity: 0.6;
        font-size: 18px;
        color: rgb(209, 76, 76);
        position: absolute;
        left: 1%;
        animation: glow 6s ease-in-out infinite;
        top: -20%;
    }
    &::after{
        content: '</div>';
        font-family: 'La Belle Aurore', cursive;
        opacity: 0.6;
        font-size: 18px;
        line-height: 18px;
        color: rgb(209, 76, 76);
        position: absolute;
        bottom: -10%;
        right: 10px;
        animation: glow 6s ease-in-out infinite;
    }
}



@keyframes glow{
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
    }
}