.logo-container{ 
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    margin-top: 60vh ;
    
    &::before{
        content: '<svg>';
        color: rgb(209, 76, 76);
        font-family: 'La Belle Aurore';
        position: absolute;
        margin-top: -30px;
        font-size: clamp(8px, 0.5px + 2vw, 14px);
        margin-left: -20px;
        opacity: 0.6;
        animation: glow 6s ease-in-out infinite;
    }
    &::after{
        content: '</svg>';
        color: rgb(209, 76, 76);
        font-family: 'La Belle Aurore';
        font-size: clamp(8px, 0.5px + 2vw, 14px);
        opacity: 0.6;
        position: absolute;
        bottom: 0;
        margin-left: 18px;
        animation: glow 6s ease-in-out infinite;
        margin-bottom: 30px;
    }

    svg {
        max-width: 100%;
        max-height: auto;
    }
}
.svg-container{
    stroke: rgb(209, 76, 76);
    stroke-width: 10;
    position: relative;
}

@keyframes glow{
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
    }
}
