.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags { 
    color: rgb(209, 76, 76) ;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    right: 125px;
    font-size: 20px;
    font-family: 'La Belle Aurore';
    animation: glow 6s ease-in-out infinite;
}

.bottom-tag-html {
    margin-left: -25px;
}

.container { 
    min-width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    margin: 0 auto;
}

.about {
    .text {
        position: absolute;
        left: 15%;
        transform: translateY(-10%);
        width: 35%;
        vertical-align: middle;
        display: table;
        max-height: 90%;
        top: 20%;
        .text-title {
            font-size: clamp(25px, 0.5px + 4vw ,75px);
            font-family: 'Coolvetica';
            color: rgb(209, 76, 76);
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: -10px;
      
            &:before {
              content: '<h1>';
              font-family: 'La Belle Aurore', cursive;
              color: rgb(209, 76, 76);
              font-size: clamp(8px, 0.5px + 2vw, 14px);
              position: absolute;
              margin-top: -10px;
              left: -10px;
              opacity: 0.6;
              line-height: 18px;
              animation: glow 6s ease-in-out infinite;
            }
      
            &:after {
              content: '</h1>';
              font-family: 'La Belle Aurore', cursive;
              color: rgb(209, 76, 76);
              font-size: clamp(8px, 0.5px + 2vw, 14px);
              line-height: 18px;
              position: absolute;
              left: -30px;
              bottom: -20px;
              margin-left: 20px;
              opacity: 0.6;
              animation: glow 6s ease-in-out infinite;
            }
          }
      
          p {
            font-size: clamp(8px, 0.5px + 2vw, 14px);
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            max-width: fit-content;
            animation: pulse 1s;
            &:nth-of-type(1) {
              animation-delay: 1.1s;
            }
            &:nth-of-type(2) {
              animation-delay: 1.2s;
            }
            &:nth-of-type(3) {
              animation-delay: 1.3s;
            }
          }
    }
    .description {
        &::before {
            content: '<p>';
            font-family: 'La Belle Aurore', cursive;
            color: rgb(209, 76, 76);
            font-size: clamp(8px, 0.5px + 2vw, 14px);
            opacity: 0.6;
            animation: glow 6s ease-in-out infinite;
        }
        &::after {
            content: '</p>';
            font-family: 'La Belle Aurore', cursive;
            color: rgb(209, 76, 76);
            font-size: clamp(8px, 0.5px + 2vw, 14px);
            opacity: 0.6;
            animation: glow 6s ease-in-out infinite;
        }
    }
    .text-animate-hover  {
        &:hover{
            color: #fff;
        }
    }
}
@keyframes glow{
  0%{
      opacity: 0.6;
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0.6;
  }
}

