.home {
    .title-text {
        position: absolute;
        left: 13%;
        bottom: 50%;
        transform: translateY(-20%);
        max-height: 90%;
        max-width: 40%;
    }
    h1 {
        color: #fff;
        font-size: clamp(25px, 0.5px + 4vw ,75px);
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        max-width: 100%;
        
        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: rgb(209, 76, 76);
            font-size: clamp(8px, 0.5px + 2vw, 18px);
            position: absolute;
            margin-top: -20px;
            left: 15px;
            opacity: 0.6;
            animation: glow 6s ease-in-out infinite;
        }
        &::after{
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: rgb(209, 76, 76);
            font-size: clamp(8px, 0.5px + 2vw, 18px);
            margin-left: 20px;
            position: absolute;
            margin-top: 30px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
            animation: glow 6s ease-in-out infinite;
        }
        .name{
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
    .full-stack{
        position: absolute;
        right: 8%;
        bottom: 58%;
        max-height: 90%;
        min-width: 40%;
    }
    h2 {
        font-size: clamp(8px, 0.5px + 2vw, 18px);
        letter-spacing: 3px;
        color: #8d8d8d;
        font-family: sans-serif;
        margin-top: 15px;
        animation: fadeIn 1s 2.8s backwards;

        &::before {
            content: '<h2>';
            font-family: 'La Belle Aurore';
            color: rgb(209, 76, 76);
            font-size: clamp(8px, 0.5px + 2vw, 14px);;
            opacity: 0.6;
            position: absolute;
            margin-top: -24px;
            animation: glow 6s ease-in-out infinite;
            
        }
        &::after {
            content: '<h2/>';
            font-family: 'La Belle Aurore', cursive;
            color: rgb(209, 76, 76);
            font-size: clamp(8px, 0.5px + 2vw, 14px);
            opacity: 0.6;
            margin-left: 20px;
            margin-top: 6px;
            position: absolute;
            animation: fadeIn 1s 1.7s backwards;
            animation: glow 6s ease-in-out infinite;
        }
    }
    h3 {
        font-size: clamp(8px, 0.5px + 2vw, 18px);
        color: rgb(209, 76, 76);
        letter-spacing: 4px;
        position: absolute;
        margin-left: 50px;
        border: 1px solid rgb(209, 76, 76);
        padding: 10px 18px;
        animation: fadeIn 1s 3.1s backwards;
        white-space: nowrap;

        &:hover {
            background-color: rgb(209, 76, 76);
            color: #8d8d8d;
        }
    }
    
}
@keyframes glow {
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
    }
}

@media (max-width: 500px) {
    .home {
        overflow-y: hidden;
        overflow-x: hidden;
        .title-text{
            margin-left: 80px;
            top: 15%;
            max-width: 100%;
            left: 3%;
            h1{
                font-size: 36px;
                width: 500px;
            }
        }
        .full-stack {
            max-width: 100%;
            bottom: 44%;
            margin-left: 100px;
            margin-right: 30px;

            h1{
                font-size: 36px;
                
            }
            h2{
                font-size: 14px;
            }

            h3 {
                font-size: 8px;
            }

        }
        .logo-container {
            max-width: 220px;
            max-height: 220px;
            margin-top: 60vh;
            margin-left: 26%;
        }
    }
  }