.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}
.text-title{
    width: 100%;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    h1 {
       font-size: clamp(40px, 0.5px + 4vw ,75px);
       color: rgb(209, 76, 76);
       font-family: 'Coolvetica';
       letter-spacing: 4px;
       font-weight: 400;
       position: relative;
       .text-animate-hover {
           &:hover{
               color: #fff;
           }
       }
       &::before{
           content: '<h1>';
           font-family: 'La Belle Aurore', cursive;
           opacity: 0.6;
           font-size: 18px;
           color: rgb(209, 76, 76);
           position: absolute;
           margin-bottom: 2rem;
           animation: glow 6s ease-in-out infinite;
       }
       &::after{
           content: '</h1>';
           font-family: 'La Belle Aurore', cursive;
           opacity: 0.6;
           font-size: 18px;
           line-height: 18px;
           color: rgb(209, 76, 76);
           position: absolute;
           bottom: 0;
           animation: glow 6s ease-in-out infinite;
       }
   }
   p {
    font-size: clamp(8px, 0.5px + 2vw, 14px);
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
    animation: pulse 1s;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
    &::before {
        content: '<p>';
        font-family: 'La Belle Aurore', cursive;
        color: rgb(209, 76, 76);
        font-size: clamp(8px, 0.5px + 2vw, 14px);
        opacity: 0.6;
        animation: glow 6s ease-in-out infinite;
        margin-right: 20px;
    }
    &::after {
        content: '</p>';
        font-family: 'La Belle Aurore', cursive;
        color: rgb(209, 76, 76);
        font-size: clamp(8px, 0.5px + 2vw, 14px);
        opacity: 0.6;
        animation: glow 6s ease-in-out infinite;
        margin-left: 10px;
    }
  }
}

.contact-form{
    margin-top: 5vh;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='text'], input[type='email'] {
    width: 20%;
    border: 0;
    background-color: #4d4d4e;
    height: 5vh;
    margin: 1vw 1vw;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    &::placeholder{
        color: rgb(209, 76, 76);
    }

}

textarea{
    width: 40%;
    border: 0;
    background-color: #4d4d4e;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    height: 20vh;
    box-sizing: none;

    &::placeholder{
        color: rgb(209, 76, 76);
    }
}

.submit-button {
    color: rgb(209, 76, 76);
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid rgb(209, 76, 76);
    background-color: rgb(51, 50, 50) ;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;

    &:hover{
        color: #4d4d4e;
        background-color: rgb(209, 76, 76);
    }
}